.container{
    display: flex;
    margin-bottom: 4rem;
}

.emptySpacer{
    height: 120px;
    width: 55px;
    border-radius: 50px;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
}

.subContainer{
    display: flex;
    min-height: 200px;
    margin-left: 0.5rem;
    border-radius: 25px;
    flex: 1;
}

.cornerBadge{
    display: flex;
}


.cornerBadge{
    margin-top: -0.5rem;
    height: 140px;
    width: 140px;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    justify-self: flex-start;
}

.bubbleText{
    position: absolute;
    color: white;
    font-size: 35px;
    margin-top: 2rem;
    margin-left: 2.5rem;
}

.questionContainer{
    flex: 1;
}

.topContainer{
    width: 100%;
    margin-right: 2rem;
}

.topContainer p{
    margin-top: 0.5rem;
    color: grey;
    font-size: 14px;
}

.line{
    height: 1px;
    width: 90%;
    background-color: lightgrey;
    margin-top: 0;
}

.questionContent{
    display: flex;
    flex: 1;
    margin: 2rem 0rem 1rem 0;
    width: 90%;
}

.title{
    color: var(--color-dark-qa-header-text);
    font-weight: bold;
    font-size: 30px;
}

.answerButton{
    display: flex;
    width: 92%;
    justify-content: flex-end;
    margin-top: -1rem;
}

.answerButton p{
    background-color: #ffeac4;
    padding: 0.2rem 1rem;
    border-radius: 20px;
    font-weight: bold;
    font-size: 14px;
    color: var(--color-accent);    
    cursor: pointer;
}

.answerButton p:hover{
    background-color: var(--color-accent-light);
}