.container {
  background-color: white;
  border: 1px solid var(--color-accent);
  display: flex;
  width: 150px;
  height: 45px;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  cursor: pointer;
}

.container:hover {
  background-color: var(--color-accent-light);
}

.container p {
  color: var(--color-accent);
  padding: 0.5rem;
}
