.container {
  margin: 1rem var(--section-horizontal-padding);
  display: flex;
  flex-direction: column;
  min-height: 800px;
}

.sectionA {
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.6rem;
}

.uploaderContainer {
  background-color: var(--color-accent);
  color: white;
}

.uploaderContainer:hover {
  background-color: var(--color-accent-dark);
}

.bottomImageContainer,
.topImageContainer {
  position: absolute;
  width: 550px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  position: fixed;
}

.viewer {
  height: 800px;
}

.topImageContainer {
  top: 0;
  left: 0;
  width: 300px;
}

.bottomImageContainer {
  bottom: 0;
  right: 0;
}

@media (max-width: 1550px) {
  .bottomImageContainer,
  .topImageContainer {
    width: 450px;
  }
}

@media (max-width: 1350px) {
  .bottomImageContainer,
  .topImageContainer {
    width: 350px;
  }
}
