.container {
  position: absolute;
  height: 120px;
  width: 280px;
  top: 0;
  right: var(--section-horizontal-padding);
  border-radius: 20px;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  background: linear-gradient(90deg, #d7d7d7 0%, #ffdd9d 100%);
}

.row {
  display: flex;
}

.title {
  font-weight: 600;
  margin-right: 8px;
}

.name {
  margin-right: 8px;
}

.logoutText {
  margin: 1rem;
  align-self: center;
  font-weight: bold;
  color: var(--color-accent);
  cursor: pointer;
}
