.container {
  position: absolute;
  height: 120px;
  width: 280px;
  top: 90px;
  right: var(--section-horizontal-padding);
  border-radius: 20px;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
}


.row {
  display: flex;
}

.title {
  font-weight: 600;
  margin-right: 8px;
}

.name {
  margin-right: 8px;
}

.logoutText {
  margin: 1rem;
  align-self: center;
  font-weight: bold;
  color: var(--color-accent);
  cursor: pointer;
}
