.popUpContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 999;
  position: fixed;
}

.popUp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 25px;
}

.bodyTextContainer {
  display: flex;
  margin-left: 2rem;
  margin-top: -1rem;
  justify-content: space-between;
}

.bodyTextContainer p {
  background-color: white;
  padding: 0.2rem 1rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-weight: bold;
  font-size: 14px;
  color: var(--color-accent);
  cursor: pointer;
}

.closeIconContainer {
  margin-top: 1.5rem;
  height: 23px;
  width: 23px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  justify-self: flex-end;
  margin-right: 0.5rem;
  border-radius: 50px;
}

.closeIconContainer:hover {
  background-color: var(--color-accent-light);
}

.bodyContainer {
  height: 600px;
  padding: 2rem;
  border-radius: 25px;
}

.bodyInput {
  border: none;
  height: 500px;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -1rem;
  margin-top: 1rem;
}
